{% extends 'third/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <form id="create_rest_form">
<!--          action="{% url 'restaurant-create' %}" method="post">-->
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
<!--        <button type="submit">등록</button>-->
        <input id="create_rest_url" type="hidden" value="{% url 'api-restaurant-create' %}">
        <input id="rest_add_btn" type="button" value="등록" onclick="create_restaurant()">
    </form>
</div>
{% endblock %}